<h2> Edit Product </h2>

<%= simple_form_for [:user, @product] do |f| %>


  <div class="group">
    <%= f.input :title, :label => "店铺名称" %>
  </div>

  <div class="group">
    <%= f.input :cookname, :label => "必点菜品" %>
  </div>

  <div class="city-group">
    <%= f.select :province,  ChinaCity.list.unshift(["--省份--", 420000]), {}, class: "city-select "%>
    <%= f.select :city,      ChinaCity.list(f.object.province).presence || [["--城市--", 422800]],    {}, class: "city-select " %>
    <%= f.select :district,  ChinaCity.list(f.object.city).presence     || [["--地区--", 422827]],    {}, class: "city-select " %>
  </div>

  <div class="group">
    <%= f.input :location, :label => "具体位置" %>
  </div>


  <div class="group">
    <%= f.input :description, as: :ckeditor, :label => "店铺详情" %>

  </div>

  <div class="group">
    <%= f.input :quantity, :label => "你已吃过几次？" %>
  </div>


  <div class="group">
    <%= f.input :price, :label => "单人平均消费__RMB" %>
  </div>


      <% if @product.image.present? %>
      <span>目前商品图</span> <br>
      <%= image_tag(@product.image.thumb.url) %>
    <% end %>

    <div class="group">
      <%= f.input :image, as: :file, :label => "封面" %>
    </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
