<div class="welcome-box">
  <!--===== 广告轮播 =====-->
  <section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="intro" class="carousel slide" data-ride="carousel">
          <!--===== 轮播按钮 =====-->
          <ol class="carousel-indicators">
            <li data-target="#intro" data-slide-to="0" class="active"></li>
            <li data-target="#intro" data-slide-to="1"></li>
            <li data-target="#intro" data-slide-to="2"></li>
          </ol>

          <!--===== 轮播内容 =====-->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= link_to '#', target: "_blank" do %> <!-- 图片连结，点击另开视窗 -->
                <%= image_tag("intro_1.jpg") %> <!-- 图片位置 -->
                <div class="carousel-caption">
                  <h3>逛吃市井</h3> <!-- 标题 -->
                  <p>从此，出门旅行时像当地人一样，只吃当地最经典最传统的美食。</p>
                  <!-- <p>本站所有美食，均由全栈营资深吃货诚心推荐，欢迎试吃品尝。</p> -->

                </div>
              <% end %>
            </div>


          <!--===== 换页按钮 =====-->
          <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span> <!-- 左侧按钮图示 -->
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#intro" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span> <!-- 右侧按钮图示 -->
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>




  <!--===== 品牌故事 =====-->
  <section class="story-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>公共交流区</h2> <!-- 区块标题 -->
        <h5>交流／／评论／／寻店／／做法</h5>

        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-12">

            <p>＃云吞面＃“在广州文化公园十三行路那一家老面馆，煮面的那个胖师傅的动作像极了在做推手，好像武功功底很深厚的样子，一年前我每每出差到哪里，必满心欢喜期待着吃上一碗，热腾腾的猪手云吞面，加上店主自制的白醋椒圈，好幸福好满足啊。。。时隔半载，再去时，已搬迁，慢慢的失落。。。有谁知道那家面馆哪去了？ ”</p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />


        <div class="row">
          <div class="col-md-12">

            <p>＃早起吃什么？＃：自从我喜欢的那家牛肉面馆因为拆迁而不知所踪之后，我再也没在7点之前起过床。 </p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-12">
            <p>＃成都早餐＃ ：我上班的楼下有一家豆花面，那是四川腱为竹笋做的臊子面，这家店先把花生酱过滤了煮稀饭，比一般的花生浆稀饭口感细腻，泡菜也好吃，是我早餐最爱。</p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-12">
            <p>＃鸡汤火锅＃ ：鸡汤火锅里面下上一把南方的细面，吃完能升天居然是真的。</p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-12">
            <p>＃昆明不为人知的美食＃ ：起床了，去眠山哪里昆明市皮鞋厂职工楼铺面里的新发小吃甩碗大酥牛肉面去。人家一家都是皮鞋厂下岗的老昆明人，只卖早上哦，面条用的是虹山面粉厂送来的新鲜面／大酥牛肉昨晚熬的。汤／葱花／韭菜／腌菜／佐料自己放。别说我没告诉你哪里有好吃的。</p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />


  </section>






  <!--===== 品牌故事 =====-->
  <section class="story-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>品牌故事</h2> <!-- 区块标题 -->
        <h1>逛吃市井</h1> <!-- 品牌名称 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <%= image_tag("founder_1.jpg") %> <!-- 创办人头像 1 -->
          </div>
          <div class="col-md-7">
            <h3>闫怀星</h3> <!-- 创办人姓名 -->
            <p>每次去一个地方旅行，都会希望当地有个朋友，带我去吃真正的特色小吃，而不是去旅游景点专门为外地游客准备的“特色美食街”。然而我们并不是每一个城市都有朋友，或者朋友不一定懂吃会选有时间。所以我想做这样一个付费交流平台，提供当地最传统最经典的小吃店地图分布平台。 </p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7 col-md-offset-1">
            <h3>肖英全</h3> <!-- 创办人姓名 -->
            <p>我们要集全栈营里的吃货小伙伴之力，共同解决出门旅行被同伴问到的世界级难题：咱们今天早上／中午／晚上／夜宵吃什么？ 让逛吃市井平台带动一部分人先吃起来！</p> <!-- 创办人介绍 -->
          </div>
          <div class="col-md-3">
            <%= image_tag("founder_2.png") %> <!-- 创办人头像 2 -->
          </div>
        </div>
      </div>
    </div>
  </section>



  <!--===== 推荐商品 =====-->
  <section class="show-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>逛吃“吃货团”诚心推荐</h2>
        <h5>我们并不是为了活着而吃，我们吃是为了感受活着。</h5> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <!-- <div class="col-md-4 portfolio-item"> -->
            <!-- <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_1.jpg") %></div>
              <div class="content">
                <p>长沙米粉</p>
                <p>白沙井水煮米粉，一日三餐都想恰</p>
              </div>
            <% end %>
          </div> -->
          <!-- <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_9.jpg") %></div>
              <div class="content">
                <p>重庆小面</p>
                <p>重庆小面，才是重庆的门面</p>
              </div>
            <% end %>
          </div> -->

          <!-- <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_3.jpg") %></div>
              <div class="content">
                <p>西安羊肉泡馍</p>
                <p>羊肉泡馍的套路，就比泡妞简单点</p>
              </div>
            <% end %>
          </div> -->


          <!-- <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_6.jpg") %></div>
              <div class="content">
                <p>广东艇仔粥</p>
                <p>艇仔虽小足（粥）已过江</p>
              </div>
            <% end %>
          </div> -->


          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_7.jpg") %></div>
              <div class="content">
                <p>济南甜沫儿</p>
                <p>济南的甜沫儿杠赛唻</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_2.jpg") %></div>
              <div class="content">
                <p>厦门沙茶</p>
                <p>人不骚浪负少年，面不沙茶枉厦门</p>
              </div>
            <% end %>
          </div>
          <!-- <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_8.jpg") %></div>
              <div class="content">
                <p>郑州胡辣汤</p>
                <p>胡辣汤就是早起党的勾魂汤</p>
              </div>
            <% end %>
          </div> -->



          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_11.jpg") %></div>
              <div class="content">
                <p>北京卤煮</p>
                <p>卤煮才是北京人的小公主</p>
              </div>
            <% end %>
          </div>
          <!-- <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_12.jpg") %></div>
              <div class="content">
                <p>上海生煎包</p>
                <p>生煎包才是上海的名牌包</p>
              </div>
            <% end %>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <section class="push-box">

    <%= link_to('打开美食地图', products_path, class:'btn btn-push' ) %>

  </section>






  <!--===== 商品分类 =====-->
  <section class="categories-box">
    <div class="row">
      <h2>逛吃地图美食家（开发中）</h2> <!-- 区块标题 -->
      <h5>一对一预约带你逛吃市井美食</h5>
      <div class="short-line"></div> <!-- 分隔线 -->
      <div class="col-md-4 category-content">

        <%= link_to '#' , class: "category_1" do %> <!-- 分类连结 -->

          <div class="category-box">
            <%= image_tag("feedback_1.png") %> <!-- 分类图片 -->
          </div>
          <div>
            <h3>王十三－带你吃卤煮</h3> <!-- 分类标题 -->
            <p>卤煮火烧这东西看着简单，好像谁都能弄，但想要做的有滋有味干净好吃，却很要手艺。卤汤的味道，下货的口感，头肉的肥瘦，火烧的硬软，好多都是感觉出来的，非得跟了正经师傅学上几年，从洗肠烧火配料熬汤什么的做起，慢慢琢磨才能摸着门道。来北京，必须得去xx街里头史家胡同口上那个无名小店或者老鼓楼市场17号，点餐的时候一定要注意......</p> <!-- 分类介绍 -->
          </div>
        <% end %>
      </div>
      <div class="col-md-4 category-content">
        <%= link_to '#' , class: "category_2" do %>
          <div class="category-box">
            <%= image_tag("feedback_2.png") %>
          </div>
          <div>
            <h3>吴哝囡－生煎包or生煎馒头？</h3>
            <p>吃生煎做美好的地方在于生煎的锅盖底儿和汤汁。生煎的皮大，馅也大，还包进了滚烫的鲜汤。功夫不到家，不可能煎的滴汤不漏；不会吃或太心急，一口咬下去很容易被生煎的汤烫到。“皮薄不破又不焦，二分酵母靠烘烤，鲜馅汤汁满口来，底厚焦枯是败品。而如今所谓的“小x生煎”的做法与我要带你去的传统生煎做法的小店完全不是一个水平......</p>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 category-content">
        <%= link_to '#' , class: "category_3" do %>
          <div class="category-box">
            <%= image_tag("feedback_3.png") %>
          </div>
          <div>
            <h3>西安羊肉泡馍</h3>
            <p>羊肉泡馍的套路，就比泡妞简单点</p>
          </div>
        <% end %>
      </div>
    </div>
  </section>






  <!--===== 合作品牌 =====-->
  <!-- <section class="brand-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>点评最多</h2> <!-- 副标题 -->
        <!-- <h5>逛吃美食家们快来注册上传你最爱吃的小吃店，we need you.</h5>
        <div class="short-line"></div> <!-- 分隔线 -->
        <!-- <%= image_tag("brand_1.png") %>
        <%= image_tag("brand_2.png") %>
        <%= image_tag("brand_3.png") %>
        <%= image_tag("brand_4.png") %>
      </div>
    </div>
  </section> -->
