<div class="welcome-box">
  <!--===== 广告轮播 =====-->
  <section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="intro" class="carousel slide" data-ride="carousel">
          <!--===== 轮播按钮 =====-->
          <ol class="carousel-indicators">
            <li data-target="#intro" data-slide-to="0" class="active"></li>
            <li data-target="#intro" data-slide-to="1"></li>
            <li data-target="#intro" data-slide-to="2"></li>
          </ol>

          <!--===== 轮播内容 =====-->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= link_to '#', target: "_blank" do %> <!-- 图片连结，点击另开视窗 -->
                <%= image_tag("intro_1.jpg") %> <!-- 图片位置 -->
                <div class="carousel-caption">
                  <h3>逛吃市井</h3> <!-- 标题 -->
                  <p>本地资深吃货带你吃遍当地特色小吃</p> <!-- 内文 -->
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to '#', target: "_blank" do %>
                <%= image_tag("intro_2.jpg") %>
                <div class="carousel-caption">
                  <h3>创造美食</h3>
                  <p>最新创意食谱，每天都充满变化</p>
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to '#', target: "_blank" do %>
                <%= image_tag("intro_3.jpg") %>
                <div class="carousel-caption">
                  <h3>精选厨具</h3>
                  <p>优质进口厨具，做菜更加便利</p>
                </div>
              <% end %>
            </div>
          </div>

          <!--===== 换页按钮 =====-->
          <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span> <!-- 左侧按钮图示 -->
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#intro" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span> <!-- 右侧按钮图示 -->
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--===== 品牌故事 =====-->
  <section class="story-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>品牌故事</h2> <!-- 区块标题 -->
        <h1>JDStore</h1> <!-- 品牌名称 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <%= image_tag("founder_1.png") %> <!-- 创办人头像 1 -->
          </div>
          <div class="col-md-7">
            <h3>闫怀星</h3> <!-- 创办人姓名 -->
            <p>每次去一个地方旅行，都会希望当地有个朋友，带我去吃真正的特色小吃，而不是去吃所谓的“特色美食街”。然而并不是每一个城市都有朋友，或者朋友不一定懂吃会选有时间。所以我们需要这样一个平台，我们提供本地资深吃货注册，让会吃也能挣钱。从此，出门在外的你，胃交给我们来装货。 </p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7 col-md-offset-1">
            <h3>肖恩平</h3> <!-- 创办人姓名 -->
            <p>我们知道总有一些小店好吃不贵，每次旅行时间这么短，怎么能在仅有的一日三餐里吃到最靠谱的美食，全靠我们了。原来会吃能挣钱。 </p> <!-- 创办人介绍 -->
          </div>
          <div class="col-md-3">
            <%= image_tag("founder_2.png") %> <!-- 创办人头像 2 -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--===== 商品分类 =====-->
  <section class="categories-box">
    <div class="row">
      <div class="col-md-4 category-content">
        <%= link_to '#' , class: "category_1" do %> <!-- 分类连结 -->
          <div class="category-box">
            <%= image_tag("category_1.jpg") %> <!-- 分类图片 -->
          </div>
          <div>
            <h3>长沙米粉</h3> <!-- 分类标题 -->
            <p>白沙井水煮米粉，一日三餐都想恰</p> <!-- 分类介绍 -->
          </div>
        <% end %>
      </div>
      <div class="col-md-4 category-content">
        <%= link_to '#' , class: "category_2" do %>
          <div class="category-box">
            <%= image_tag("category_2.jpg") %>
          </div>
          <div>
            <h3>厦门沙茶</h3>
            <p>人不骚浪负少年，面不沙茶枉厦门</p>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 category-content">
        <%= link_to '#' , class: "category_3" do %>
          <div class="category-box">
            <%= image_tag("category_3.jpg") %>
          </div>
          <div>
            <h3>西安羊肉泡馍</h3>
            <p>羊肉泡馍的套路，就比泡妞简单点</p>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <!--===== 推荐商品 =====-->
  <section class="show-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>他们推荐用这些装满你的胃</h2> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-4">
            <%= link_to '#' do %> <!-- 商品连结 -->
              <div class="box"><%= image_tag("item_1.jpg") %></div> <!-- 商品图片 -->
              <div class="content">
                <p>长沙米粉</p> <!-- 商品名称 -->
                <p>白沙井水煮米粉，一日三餐都想恰</p> <!-- 商品价格 -->
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_2.jpg") %></div>
              <div class="content">
                <p>厦门沙茶</p>
                <p>人不骚浪负少年，面不沙茶枉厦门</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_3.jpg") %></div>
              <div class="content">
                <p>西安羊肉泡馍</p>
                <p>羊肉泡馍的套路，就比泡妞简单点</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_4.jpg") %></div>
              <div class="content">
                <p>北京烤鸭</p>
                <p>爱鸭，就给鸭烤了</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_5.jpg") %></div>
              <div class="content">
                <p>扬州狮子头</p>
                <p>烟花三月下扬州，只因垂涎狮子头</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_6.jpg") %></div>
              <div class="content">
                <p>广东艇仔粥</p>
                <p>艇仔虽小足（粥）已过江</p>
              </div>
            <% end %>
          </div>


          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_7.jpg") %></div>
              <div class="content">
                <p>济南甜沫儿</p>
                <p>济南的甜沫儿杠赛唻</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_8.jpg") %></div>
              <div class="content">
                <p>郑州胡辣汤</p>
                <p>胡辣汤就是早起党的勾魂汤</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_9.jpg") %></div>
              <div class="content">
                <p>重庆小面</p>
                <p>重庆小面，才是重庆的门面</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_10.jpg") %></div>
              <div class="content">
                <p>成都脑花儿</p>
                <p>脑花才是成都的市花儿</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_11.jpg") %></div>
              <div class="content">
                <p>北京卤煮</p>
                <p>卤煮才是北京人的小公主</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to '#' do %>
              <div class="box"><%= image_tag("item_12.jpg") %></div>
              <div class="content">
                <p>上海生煎包</p>
                <p>生煎包才是上海的名牌包</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--===== 合作品牌 =====-->
  <section class="brand-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>合作品牌</h2> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <%= image_tag("brand_1.png") %> <!-- 品牌图片 -->
        <%= image_tag("brand_2.png") %>
        <%= image_tag("brand_3.png") %>
        <%= image_tag("brand_4.png") %>
        <%= image_tag("brand_5.png") %>
        <%= image_tag("brand_6.png") %>

      </div>
    </div>
  </section>

  <!--===== 立即购买 =====-->
  <section class="push-box">
    <%= link_to('立即购买', '#', class:'btn btn-push' ) %>
  </section>

  <!--===== 回到页面顶端 =====-->
  <div class="goTop">
    <span class="fa fa-chevron-up"></span> <!-- 按钮图示 -->
  </div>
</div>
