<div class="row">
  <div class="col-md-4">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>综合评价</h3>
    环境： <div class="star-freshness" data-score= <%= @avg_review %> ></div>
    服务： <div class="star-look" data-score= <%= @avg_look %> ></div>
    价格： <div class="star-price" data-score= <%= @avg_price %> ></div>
  </div>
</div>

<div class="col-md-4">
  <h2> <%= @product.title %> </h2>
    <div> 数量 : <%= @product.quantity %> </div>
      <div class="product-price"> ￥ <%= @product.price %> </div>
        <div class="pull-right">
          <% if @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn  btn-primary btn-lg btn-danger ") %>
          <% else %>
            已销售一空，无法购买
            <% end %>
        </div>
</div>

<div class="col-md-12">
  <h3>店铺详情</h3>
    <div class="product-description">
        <%= simple_format(@product.description) %>
    </div>
</div>


<!--对商品评论以及评星-->
  <div class="row review">
    <div class="col-sm-12 col-md-12">
      <h3>
        客户评论
      </h3>
      <hr>
      <div id="reivews">
        <div class="reviews_wrapper clearfix">
            <div class="pull-left">
              <% @reviews.each do |review| %>
                环境： <div class="star-freshness" data-score= <%= review.freshness %> ></div>
                服务： <div class="star-look" data-score= <%= review.look %> ></div>
                价格： <div class="star-price" data-score= <%= review.price %> ></div>
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="lead"><%= review.body %></p>
              </div>
            </div>
                <p>
                    <small>Submitted
                        <strong><%= time_ago_in_words(review.created_at) %>
                            ago</strong>
                        by <%= review.user.email %></small>
                </p>
                <div>
                  <% if review.user == current_user %>
                     <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm pull-right") %>
                  <% end %>
                </div>
                <% end %>
          </div>
        </div>
        <hr>
        <%= link_to("评价",new_product_review_path(@product), :class => "btn btn-lg btn-info") %>
      </div>
    </div>
  </div>

<script src="/assets/application.js"></script>
