<!DOCTYPE html>
<html>
<!-- <script type="text/javascript" src="https://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script> -->
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>



<!--
    <script type="text/javascript">
       $youziku.load("body,h1,h2,h3,h4,h5,h6,p,a,td”, "54d6c6b7af47451c8be9e743fb4704b3", "SiYuan-ExtraLight");
       $youziku.draw();
    </script> -->

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <%= yield %>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
